body {
    font-family: Arial, sans-serif;
    color: #ccc;;
    margin: 0;
    padding: 0;
    background-image: url(/img/logcar.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(227, 219, 219, 0.1);
}
h2 {
    margin-top: 0;
}
p {
    line-height: 1.6;
}
.logo {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px; 
    float: left;/* Adjust margin as needed */
  }